body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
#profilePic {
    max-width: 25%;
    float:right;
    position: relative;
    top: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar {
    max-width: 100%;
    height: 80px;
    background-color: #464646;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1060px;
    }
  }

  li {
      display: inline;
      float: right;
      padding: 0 14px 0 14px;
      font-family: 'Roboto', sans-serif;
      list-style-type: none;
  }

  a {
      color: white;
      text-decoration: none;
  }

  #logo {
      display: inline;
      float: left;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: white;
      padding-top: 6px;
  }

  #navbarContent {
      padding-top: 24px;
  }

  
  .fa-linkedin-in {
      margin-left: 40px;
  }


  .socialMedia {
      font-size: 30px;
      color: white;
  }

 .pages {
     padding-top: 6px;
     font-size: 16px;
 }

 #jumbotron {
     height: 500px;
     background-color: white;
     box-shadow: 0 0 10px 0 #636363;
 }

 #jumbotronContent {
     padding-top: 120px;
     float:left;
     max-width: 570px;
 }

 #jumbotronHeader {
     font-weight: bold;
     font-size: 68px;
     padding-bottom: 16px;
 }

 #headerSubtext {
     font-size: 24px;
     line-height: 32px;
     padding-bottom: 16px;
 }

 #headerParagraphText {
    font-size: 20px;
    line-height: 26px;
 }

 .headerLine {
    height: 1px;
    background: #DDD;
    border-bottom: #FFF solid 1px;
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
 }

 .bodyHeader {
    background: #fafafa;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    display: block;
    color: #666666;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0px;
 }

 .cardWrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .card {
     width: 320px;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 2rem 0;
     box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
     padding-bottom: 60px;
 }
 .imagePlaceholder {
    height: 200px;
    margin: 10px;
    width: 300px;   
}

footer {
    max-width: 100%;
    height: 80px;
    background-color: #464646;
    margin-top: 60px;
}

#footerContent {
    padding-top: 26px;
}

#copyright {
    float: left;
    padding-top: 8px;
    color: white;
}


