body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
#profilePic {
    max-width: 25%;
    float:right;
    position: relative;
    top: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar {
    max-width: 100%;
    height: 80px;
    background-color: #464646;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1060px;
    }
  }

  li {
      display: inline;
      float: right;
      padding: 0 14px 0 14px;
      font-family: 'Roboto', sans-serif;
      list-style-type: none;
  }

  a {
      color: white;
      text-decoration: none;
  }

  #logo {
      display: inline;
      float: left;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: white;
      padding-top: 6px;
  }

  #navbarContent {
      padding-top: 24px;
  }

  
  .fa-linkedin-in {
      margin-left: 40px;
  }


  .socialMedia {
      font-size: 30px;
      color: white;
  }

 .pages {
     padding-top: 6px;
 }

 #jumbotron {
     height: 500px;
     background-color: white;
     box-shadow: 0 0 10px 0 #1a1a1a;
 }

 #jumbotronContent {
     padding-top: 120px;
     float:left;
     max-width: 570px;
 }

 #jumbotronHeader {
     font-weight: bold;
     font-size: 68px;
     padding-bottom: 16px;
 }

 #headerSubtext {
     font-size: 24px;
     line-height: 32px;
     padding-bottom: 16px;
 }

 #headerParagraphText {
    font-size: 20px;
    line-height: 26px;
 }


